    <hr>
    <h2>Games</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Players left</th>
          <th>Questions asked</th>
        </tr>
      </thead>
      <tbody>
        <% Game.games_in_progress.each do |g| %>
          <tr>
            <td><%= g.id %></td>
            <td><%= g.players_left %></td>
            <td><%= g.questions_asked %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
